article {
  width: 25em;
  height: 9em;
  display: flex;
  justify-content: space-evenly;
}

body {
  height: 100vh;
  width: 100vw;
  margin: 0;
  justify-content: space-between;
}

html {
  font-family: 'Rubik', sans-serif;
}

main {
  width: 70%;
  background-color:aliceblue
}

.article-text {
  margin: 0px;
  text-align: center;
}

.chosen-fighter {
  height: 12vw !important;
  width: 12vw !important;
}

.classic__choose-fighter {
  justify-content: center;
  margin: 5vw;
  height: 11vw;
}

.classic__fighter-icon {
  height: 10vw;
  width: 10vw;
  cursor: pointer;
  transition-duration: 200ms;
  margin: 1vw;
}

.classic__fighter-icon:hover {
  height: 11vw;
  width: 11vw;
  transition-duration: 200ms;
}

.column {
  flex-direction: column;
  align-items: center;
}

.controls__fight-btn {
  height: 2em;
  width: 6em;
  background-color: lightcoral;
  font-size: 2em;
  color: white;
  font-family: inherit;
  border: 1px solid black;
  border-radius: .5em;
}

.controls__fight-btn:disabled {
  background-color: gray;
}

.controls__menu-btn {
  height: 2em;
  width: 6em;
  background-color: lightcoral;
  font-size: 2em;
  color: white;
  font-family: inherit;
  margin: 0.5em;
  border: 1px solid black;
  border-radius: .5em;
}

.controls__replay-btn {
  height: 2em;
  width: 6em;
  background-color: lightcoral;
  font-size: 2em;
  color: white;
  font-family: inherit;
  margin: 0.5em;
  border: 1px solid black;
  border-radius: .5em;
}

.flex {
  display: flex;
}

.hidden {
  display: none;
}

.subtitle {
  margin-top: 1vh;
  margin-bottom: 1vh;
  font-size: 3em;
}

.main__classic-mode {
  width: 25em;
  height: 9em;
  border: 1px solid black;
  margin: 1vh;
  background-color: rgb(179, 193, 255);
  transition: 100ms;
  border-radius: 2em;
}

.main__classic-mode:hover {
  background-color: rgb(129, 143, 205);
}

.main__custom-mode {
  width: 25em;
  height: 9em;
  border: 1px solid black;
  margin: 1vh;
  background-color: rgb(255, 137, 137);
  transition: 100ms;
  border-radius: 2em;
}

.main__custom-mode:hover {
  background-color: rgb(205, 87, 87);
}

.main__fighter-images {
  height: 4.5em;
  width: 4.5em;
  margin-bottom: 1em;
}

.main__images-container {
  width: 100%;
  margin: 0px;
  justify-content: space-evenly;
}

.main__spicy-mode {
  width: 25em;
  height: 9em;
  border: 1px solid black;
  margin: 1em;
  background-color: rgb(206, 169, 6);
  transition: 100ms;
  border-radius: 2em;
}

.main__spicy-mode:hover {
  background-color: rgb(156, 119, 0);
}

.resolve__images-container {
  align-items: center;
}

.resolve__fighters-size {
  height: 12em;
  width: 12em;
  margin: 1em;
}

.resolve__fight-size {
  height: 8em;
  width: 8em;
  margin: 1em;
}

.spicy__choose-fighter {
  justify-content: center;
  margin: 5vw;
  height: 11vw;
}

.spicy__fighter-icon {
  height: 10vw;
  width: 10vw;
  cursor: pointer;
  transition-duration: 200ms;
  margin: 1vw;
}

.spicy__fighter-icon:hover {
  height: 11vw;
  width: 11vw;
  transition-duration: 200ms;
}

.score {
  width: 15%;
  background-color: rgb(255, 167, 104);
}

.score__player-id {
  font-size: 2.5em;
}

.score__wins-text {
  font-size: 1.5em;
}

.title {
  margin-top: 2vh;
  margin-bottom: 0vh;
  font-size: 6em;
}