body {
  height: 100vh;
  width: 100vw;
  margin: 0;
  justify-content: space-between;
}

html {
  font-family: 'Rubik', sans-serif;
}

main {
  width: 70%;
  background-color:aliceblue
}

.custom__choose-fighter-btn {
  border: 1px solid black;
  background-color: lightcoral;
  height: 1.75em;
  width: 10em;
  font-size: 2em;
  color: white;
  font-family: inherit;
  border-radius: 0.5em;
  margin-top: 3vh;
}

.classic__choose-fighter {
  justify-content: center;
  margin: 5vw;
  height: 11vw;
}

.classic__fighter-icon {
  height: 10vw;
  width: 10vw;
  cursor: pointer;
  transition-duration: 200ms;
  margin: 1vw;
}

.classic__fighter-icon:hover {
  height: 11vw;
  width: 11vw;
  transition-duration: 200ms;
}

.column {
  flex-direction: column;
  align-items: center;
}

.custom__fighters-chosen {
  display: grid;
  height: 14vw;
  width: 25vw;
  grid-template-columns: repeat(5, 20%);
  grid-template-rows: repeat(3, 33%);
  overflow-y: scroll;
  scrollbar-width: thin;
  border: 2px solid black;
}

.custom__fighter-choices {
  display: grid;
  height: 14vw;
  width: 25vw;
  grid-template-columns: repeat(5, 20%);
  grid-template-rows: repeat(3, 33%);
  overflow-y: scroll;
  scrollbar-width: thin;
  border: 2px solid black;
}

.custom__fighters {
  grid-column: auto;
  grid-row: auto;
  height: 4vw;
  width: 4vw;
  margin: 5px;
}

.custom__choose-fighter-text {
  width: 50%;
  height: auto;
  border: 2px solid black;
  border-radius: 1em;
  text-align: center;
  font-size: x-large;
  padding-left: 1em;
  padding-right: 1em;
  margin-bottom: 6vh;
  margin-top: 6vh;
}

.custom__instruction-text {
  align-items: center;
}

.custom__leave-tutorial-btn {
  border: 1px solid black;
  background-color: lightcoral;
  height: 1.75em;
  width: 10em;
  font-size: 2em;
  color: white;
  font-family: inherit;
  border-radius: 0.5em;
  /* transition: opacity 1000ms; */
}

/* .fight-button  */
.controls__fight-btn {
  height: 2em;
  width: 6em;
  background-color: lightcoral;
  font-size: 2em;
  color: white;
  font-family: inherit;
  border: 1px solid black;
  border-radius: .5em;
}

.flex {
  display: flex;
}

.hidden {
  display: none;
}

.subtitle {
  margin-top: 1vh;
  margin-bottom: 1vh;
  font-size: 3em;
}

.custom__fighters-chosen-text {
  margin-top: 3vh;
  margin-bottom: 1vh;
  font-size: 3em;
}

.controls__menu-btn {
  height: 2em;
  width: 6em;
  background-color: lightcoral;
  font-size: 2em;
  color: white;
  font-family: inherit;
  margin: 0.5em;
  border: 1px solid black;
  border-radius: .5em;
}

.main__classic-mode {
  width: 25em;
  height: 9em;
  border: 1px solid black;
  margin: 1vh;
  background-color: rgb(179, 193, 255);
  transition: 100ms;
  border-radius: 2em;
}

.main__classic-mode:hover {
  background-color: rgb(129, 143, 205);
}

.main__custom-mode {
  width: 25em;
  height: 9em;
  border: 1px solid black;
  margin: 1vh;
  background-color: rgb(255, 137, 137);
  transition: 100ms;
  border-radius: 2em;
}

.main__custom-mode:hover {
  background-color: rgb(205, 87, 87);
}

.main__fighter-images {
  height: 4.5em;
  width: 4.5em;
  margin-bottom: 1em;
}

.main__images-container {
  width: 100%;
  margin: 0px;
  justify-content: space-evenly;
}

.main__spicy-mode {
  width: 25em;
  height: 9em;
  border: 1px solid black;
  margin: 1em;
  background-color: rgb(206, 169, 6);
  transition: 100ms;
  border-radius: 2em;
}

.main__spicy-mode:hover {
  background-color: rgb(156, 119, 0);
}

.resolve
{
  
}

.score__wins-text {
  font-size: 1.5em;
}

.score {
  width: 15%;
  background-color: rgb(255, 167, 104);
}

.score__player-id {
  font-size: 2.5em;
}

.chosen-fighter {
  height: 11vw;
  width: 11vw;
}

.title {
  margin-top: 2vh;
  margin-bottom: 0vh;
  font-size: 6em;
}